<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Social Network User Purchase Prediction</title>
        <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<h1>Social Network User Purchase Prediction</h1>
<h2>Will the user purchase or not? </h2>
<p> Input the User Details: Gender, Age and Estimated Salary </p><br><br>
<form action="/prediction" method="post">
  <label for="Gender">Enter the Gender: Male/Female:</label><br>
  <input type="text" id="Gender" name="Gender" ><br><br>
  <label for="Age">Enter the Age:</label><br>
  <input type="text" id="Age" name="Age" ><br><br>
  <label for="EstimatedSalary">Enter the Estimated Salary:</label><br>
  <input type="text" id="EstimatedSalary" name="EstimatedSalary" ><br><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
